<div id="<%= dom_id oenologist %>">
  <p>
    <strong>Name:</strong>
    <%= oenologist.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= oenologist.age %>
  </p>

  <p>
    <strong>Nacionality:</strong>
    <%= oenologist.nacionality %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= oenologist.company %>
  </p>

</div>
