<p style="color: green"><%= notice %></p>

<h1>Enólogos</h1>

<%= link_to "Nuevo Enólogo", new_oenologist_path %>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Nacionalidad</th>
      <th>Compañía</th>
      <th>Cargos</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @oenologists.each do |oenologist| %>
    <tr>
      <td><%= oenologist.name %></td>
      <td><%= oenologist.age %></td>
      <td><%= oenologist.nacionality %></td>
      <td><%= oenologist.company %></td>
      <td><%= oenologist.positions.map(&:name).join(',') %></td>
      <td><%= link_to "Ver", oenologist %></td>
    </tr>
  <% end %>
  </tbody>
</table>
