<%= form_with(model: wine) do |form| %>
  <% if wine.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
        <% wine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :brand, "Brand*", style: "display: block" %>
    <%= form.text_field :brand, required: true %>
  </div>

  <div>
    <%= form.label :category, "Category*", style: "display: block" %>
    <%= form.select :category, ["Semi Crianza", "Crianza", "Reserva", "Gran Reserva"], required: true %>
  </div>

  <div>
    <%= form.label :color, style: "display: block" %>
    <%= form.select :color, ["Red", "White", "Rosé"], required: true  %>
  </div>
<br>
<br>

  <div class="field">
    <%= form.label :strains, style: "display: block" %>
    <%= form.collection_check_boxes :strain_ids, Strain.order(:name), :id, :name %>
  </div>

<br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
