<p style="color: green"><%= notice %></p>

<h1>Vinos</h1>

<% if can? :manage, Wine %>
<%= link_to "Nuevo Vino", new_wine_path %>
<% end %>
<div id="wines">
    <table class="table">
      <thead>
        <tr>
          <th>Marca</th>
          <th>Categoría</th>
          <th>Color</th>
          <th>Cepas</th>
          <th>Nota</th>
          <th>Enólogo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
  <% @wines.each do |wine| %>
        <tr>
          <td><%= wine.brand %></td>
          <td><%= wine.category %></td>
          <td><%= wine.color %></td>
          <td><%= wine.strains.map(&:name).join(',') %></td>
          <td><%= wine.note %></td>
          <td><%= wine.oenologists.map(&:name).join(',') %></td>
          <td><%= link_to "Ver", wine %></td>
          <td>
            <% if can? :update, Wine %>
             <%= link_to "Editar", edit_wine_path(wine) %>
            <% end %>
          </td>
        </tr>
  <% end %>
      </tbody>
    </table>
    <p>
      
    </p>
</div>

