<p style="color: green"><%= notice %></p>

<h1>Wines</h1>

<%= link_to "New wine", new_wine_path %>
<div id="wines">
    <table class="table">
      <thead>
        <tr>
          <th>Brand</th>
          <th>Category</th>
          <th>Color</th>
          <th>Strains</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
  <% @wines.each do |wine| %>
        <tr>
          <td><%= wine.brand %></td>
          <td><%= wine.category %></td>
          <td><%= wine.color %></td>
          <td><%= wine.strains.map(&:name).join(',') %></td>
          <td><%= link_to "Show", wine %></td>
        </tr>
  <% end %>
      </tbody>
    </table>
    <p>
      
    </p>
</div>

